<!DOCTYPE html>
<html lang="en"
      th:replace="~{base::parent(~{::#content},~{::title},~{})}"
      xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<div id="content" class="min-h-screen flex items-center justify-center">
    
    <!-- Grid wrapper -->
    <div class="grid grid-cols-12 w-full max-w-4xl">
          
        <!-- Left empty space -->
        <div class="col-span-4"></div>

        <!-- Centered card -->
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4 flex justify-center items-center">
            <div class="w-full bg-white border border-gray-200 rounded-lg shadow-md p-6 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                   Signup Here
                </h5>
                <p class="font-normal text-gray-400 dark:text-gray-400">
                    Start: managing contacts on cloud ..
                </p>
                <form action=""class="mt-5">
                    <div class="mb-3"> 
                        <label 
                            for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Name</label>
                            <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter here " required />
                        </div>
                        <div class="mb-3">
                            <!--for email  -->
                            <label 
                            for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Email</label>
                            <input type="text" id="gmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="mvkrampur1315@gmail.com" required />
                        </div>
                        <div class="mb-3">
                            <!--for password  -->
                            <label 
                            for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Password</label>
                            <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
                        </div>
                        <div class="mb-3">
                            <!--for About  -->
                           
                            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write somting about you</label>
                            <textarea id="about" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write here..."></textarea>

                        </div>
                        <div class="mb-3">
                            <!--for Phone Number  -->
                            <label 
                            for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Phone Number</label>
                            <input type="text" id="phoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Here" required />
                        </div>
                        <!--buttons-->
                        <button
                        class="px-4 py-2 rounded-lg bg-blue-700 text-white hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700"
                      >
                        Signup
                      </button>
                      
                            <div>

                        </div>
                </form>
            </div>
        </div>

        <!-- Right empty space -->
        <div class="col-span-4"></div>
    </div>
</div>
</body>
</html>
